[Unit]
Description=media-stream-player
After=syslog.target  network.target
Wants=network.target

[Service]
User=pi
Type=simple
ExecStart=node /home/pi/network-rc/media-server/server-rpi.js
Restart= always
RestartSec=1min


[Install]
WantedBy=multi-user.target
