[Unit]
Description=network-rc
After=syslog.target  network.target
Wants=network.target

[Service]
User=root
Type=simple
ExecStart=node /home/pi/network-rc/index.js
Restart= always
RestartSec=1min


[Install]
WantedBy=multi-user.target
