[Unit]
Description=network-rc
After=syslog.target  network.target
Wants=network.target

[Service]
User=root
Type=simple
ExecStart=node /home/pi/git/network-rc/index.js -f -o 9001 -p wadlll22
Restart= always
RestartSec=1min


[Install]
WantedBy=multi-user.target
