[Unit]
Description=PPTP
After=network.target
[Service]
Type=forking
# PIDFile=/run/ppp-%i.pid
ExecStart=pon pptpconf
ExecStop=poff pptpconf
ExecReload=poff -r pptpconf
[Install]
WantedBy=multi-user.target
