@import "~antd/dist/antd.css";

body {
  background-color: #fff;
}

.App {
  height: 100%;
  width: 100%;
  user-select: none;
  /* background-color: rgb(240, 240, 240); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.app-status {
  padding: 0.5em;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 1;
}

.app-page {
  overflow-y: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.controller {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controller video {
  flex: auto;
}

.controller-form {
  padding: 0.5em;
}

.direction-slider {
  position: fixed;
  width: 50vh;
  bottom: 48vh;
  right: 4vw;
}

.speed-slider {
  position: fixed;
  height: 50vh;
  bottom: 25vh;
  left: 10vw;
  width: 10vh;
}

.speed-slider .ant-slider-rail {
  width: 8vh;
  opacity: 0.3;
  border-radius: 4vh;
}
.speed-slider .ant-slider-handle {
  margin-left: -1vh;
}

.direction-slider .ant-slider-rail {
  height: 8vh;
  opacity: 0.3;
  border-radius: 4vh;
}
.direction-slider .ant-slider-handle {
  margin-top: -1vh;
 }


.speed-slider .ant-slider-handle,
.direction-slider .ant-slider-handle {
  width: 10vh;
  height: 10vh;
  /* transition: all 0.036s cubic-bezier(0.78, 0.14, 0.15, 0.86); */
}

.controller-form .backward-button,
.controller-form .left-button,
.controller-form .forward-button,
.controller-form .right-button {
  width: 8vw;
  height: 8vw;
  min-width: 3em;
  min-height: 3em;
}

.backward-button {
  position: fixed;
  bottom: 30vh;
  right: 5vw;
}

.forward-button {
  position: fixed;
  bottom: 55vh;
  right: 5vw;
}
.left-button {
  position: fixed;
  bottom: 40vh;
  left: 5vw;
}

.right-button {
  position: fixed;
  bottom: 40vh;
  left: 20vw;
}

.controller-router {
  /* height: 100%; */
}

.ai {
  height: 80vh;
  overflow: auto;
}
.ai-sample {
  padding: 0.5em;
}

.ai-sample-form {
  margin-bottom: 50vh;
}

.ai-example-list {
  padding: 0.5em;
  text-align: center;
}

.ai-train {
  padding: 0.5em;
}

.ai-object-detection-canvas-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
}
.ai-object-detection-canvas-container canvas {
  flex: 1;
  object-fit: contain;
  max-width: 100%;
}

.player-box {
  display: flex;
  transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  flex-grow: 1;
  flex-shrink: 1;
}
.camera-rnd {
  border: 1px solid #000;
  overflow: hidden;
}

.camera-rnd .button-box {
  position: absolute;
  right: 38px;
  top: -100px;
  z-index: 99;
  opacity: 0;
}
.camera-rnd:focus .button-box {
  opacity: 1;
  top: 38px;
}

.camera-rnd .button-box button{
  margin-right: 0.5em;
}


.camera-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.camera-box canvas {
  object-fit: contain;
  max-width: 100%;
  /* max-height: 100%; */
  flex-grow: 1;
  flex-shrink: 1;
}


.inline-form .ant-form-item {
  margin-bottom: 0.5em;
}

.transition-animation {
  transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
