@import "~antd/dist/antd.css";

body {
  background-color: #fff;
}

.App {
  height: 100%;
  width: 100%;
  user-select: none;
  /* background-color: rgb(240, 240, 240); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.app-status {
  padding: 1em;
}

.app-status .ant-form-item {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.app-page {
  overflow-y: auto;
  flex: auto;
}

.controller {
  position: relative;
  height: 100%;
  width: 100%;
}

.controller-form {
  position: fixed;
  bottom: 0;
  padding: 1em;
}

.controller-form .backward-button,
.controller-form .left-button,
.controller-form .forward-button,
.controller-form .right-button {
  width: 8vw;
  height: 8vw;
  min-width: 3em;
  min-height: 3em;
}

.backward-button {
  position: fixed;
  bottom: 30vh;
  right: 5vw;
}

.forward-button {
  position: fixed;
  bottom: 55vh;
  right: 5vw;
}
.left-button {
  position: fixed;
  bottom: 40vh;
  left: 5vw;
}

.right-button {
  position: fixed;
  bottom: 40vh;
  left: 20vw;
}

.ai {
  height: 80vh;
  overflow: auto;
}
.ai-sample {
  padding: 1em;
}

.ai-example-list {
  padding: 1em;
  text-align: center;
}

.ai-train {
  padding: 1em;
}


.player-box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.player-box canvas {
  flex: 1;
  object-fit: contain;
  max-width: 100%;
}

